<!DOCTYPE html>
<html>
<head>
  <title>Reserv</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% if user_signed_in? %>
                <h2>Hello, <%= current_user.email %></h2>
      <%= link_to 'logout', destroy_user_session_path, method: :DELETE %>
  <% else %>
      <h2><%= link_to 'Now you can sign up', new_user_registration_path %></h2><h4><%= link_to 'or sign in', new_user_session_path %></h4>
  <% end %>
</header>
<hr>

<%= yield %>

</body>
</html>
